@page

@model Server.Pages.Features.Common.Admin.LocalizedMailSettings.TestModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.TestOf} {Resources.DataDictionary.LocalizedMailSetting}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>

		<fieldset>

			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-input asp-for="ViewModel.EmailSubject" />

			<hr />

			<dtat-full-input asp-for="ViewModel.RecipientEmailAddress" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.RecipientDisplayName" />

			<hr />

			<dtat-full-textarea asp-for="ViewModel.EmailBody" />

		</fieldset>

		<section-form-buttons>
			<button-send />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Update">
				@(Resources.DataDictionary.UpdateOf)
				@(Resources.DataDictionary.LocalizedApplicationSetting)
			</a>
		</section-form-footer>

	</section-form>

</form>
