@page
@model Server.Pages.Features.Cms.Admin.PostTypes.CreateModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.PostType}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-checkbox asp-for="ViewModel.IsActive" />

			<dtat-full-input asp-for="ViewModel.Ordering" />

			<dtat-full-input asp-for="ViewModel.Name" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.Title" />

			<dtat-full-input asp-for="ViewModel.Description" />

			<dtat-full-input asp-for="ViewModel.ImageUrl" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.CoverImageUrl" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.MaxPostCountInMainPage" />

			<dtat-full-checkbox asp-for="ViewModel.DisplayInHomePage" />

			<dtat-full-input asp-for="ViewModel.MaxPostCountInHomePage" />

			<dtat-full-input asp-for="ViewModel.Hits" />

			<dtat-full-textarea asp-for="ViewModel.Body" />
		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
		</section-form-footer>
	</section-form>

</form>
