@page

@model Server.Pages.Errors.Error403Model

@{
	var pageTitle =
		Resources.PageTitles.Error403;

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<h3 class="text-center mt-3">
	@(pageTitle)
</h3>

<hr />
