@page
@model Server.Pages.Features.Cms.Admin.Pages.CreateModel

@{
	var pageTitle =
		$"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.Page}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-checkbox asp-for="ViewModel.IsActive" />

			<dtat-full-input asp-for="ViewModel.Name" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.Ordering" />

			<dtat-full-select asp-for="ViewModel.LayoutId" asp-items="@(Model.LayoutsSelectList)" />

			<dtat-full-input asp-for="ViewModel.Title" />

			<dtat-full-checkbox asp-for="ViewModel.DoesSearchEnginesIndexIt" />

			<dtat-full-checkbox asp-for="ViewModel.DoesSearchEnginesFollowIt" />

			<dtat-full-textarea asp-for="ViewModel.Body" dir="ltr" />

			<dtat-full-input asp-for="ViewModel.Description" />
		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
		</section-form-footer>
	</section-form>

</form>
