@page

@model Server.Pages.Account.ChangePasswordModel

@{
	var pageTitle =
		Resources.PageTitles.ChangePassword;

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-password-input asp-for="ViewModel.CurrentPassword" />

			<dtat-full-password-input asp-for="ViewModel.NewPassword" />

			<dtat-full-password-input asp-for="ViewModel.ConfirmNewPassword" />
		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>
	</section-form>

</form>
