@page

@model Server.Pages.Account.SendAgainEmailAddressVerificationKeyModel

@{
	var pageTitle =
		Resources.PageTitles.SendAgainEmailAddressVerificationKey;

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<dtat-full-input asp-for="ViewModel.UsernameOrEmailAddress" dir="ltr" />

			<partial name="~/Pages/Shared/PartialViews/_CaptchaImage.cshtml" />
		</fieldset>

		<section-form-buttons>
			<button-submit />
			<button-reset />
		</section-form-buttons>
	</section-form>

</form>
