@inject Services.Features.Common.ApplicationSettingService ApplicationSettingService
@inject Services.Features.Common.LocalizedApplicationSettingService localizedApplicationSettingService

@{
	var applicationSetting =
		await
		ApplicationSettingService.GetInstanceAsync();

	var localizedApplicationSetting =
		await
		localizedApplicationSettingService.GetInstanceAsync();
}

<footer class="footer border-top py-2 text-muted bg-@(applicationSetting.Theme) fixed-bottom">

	<div class="container text-muted">

		<environment include="Development" exclude="Production">
			Development Mode
		</environment>

		<small>
			<a href="https://IranianExperts.ir" class="text-decoration-none">
				[Powered by DT CMS]
			</a>
		</small>

		@if (string.IsNullOrWhiteSpace(value: localizedApplicationSetting.Copyright) == false)
		{
			@(Html.Raw(localizedApplicationSetting.Copyright))
		}

		@if (string.IsNullOrWhiteSpace(value: localizedApplicationSetting.ApplicationVersioin) == false)
		{
			@(Html.Raw(localizedApplicationSetting.ApplicationVersioin))
			<text>&nbsp;</text>
			@(Dtat.StringHelper.ConvertDigitsToUnicode(value: Infrastructure.Version.Value))
		}

	</div>

</footer>
